.header {
    background-color: #1da4a8;
    position: fixed;
    top: 0;
    max-height: 7rem;
    width: 100%;
    z-index: 2;
}

.imgWrapper {
    width: 7rem;
    margin-left: 7rem;
}

.imgWrapper img {
    width: 100%
}